* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(80, 80, 222);
    color: aliceblue;
}
 
h1 {
    text-align: center;
    padding: 15px;
    margin: 20px;
}

main {
    background-color: rgba(0, 0, 0, 0.781);
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 5px;
}

input {
    padding: 15px;
    margin: auto;
    border: none;
    outline: none;
    border-radius: 5px ;
}

#btn {
    background-color: rgb(17, 17, 87);
    color: white;
    border: 1px solid;
    width: 100%;
}

#btn:hover {
    background-color: rgb(48, 85, 85);
    cursor: pointer;
}